* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  color: #4d4d4d;
  font-family: sans-serif;
}
body {
  padding: 0;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
}
h1,
h2,
h3 {
  margin: 2rem 0 1rem 0;
}
a,
a:hover {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
.container-fluid {
  padding: 0;
}
section {
  padding: 4rem 0;
  font-family: calluna;
  background: #f7f7f7;
  font-family: calluna;
  font-size: 1.9rem;
  line-height: 2.8rem;
  color: #4d4d4d;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: justify;
}
section p {
  margin-bottom: 2rem;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 71rem;
}
.container h2 {
  margin: 2rem;
}
footer .container {
  padding: 3rem;
  text-align: center;
}
.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}
ul {
  padding: 0 1rem;
}
header {
  text-align: center;
  padding: 4rem 1rem;
}
h1,
h2,
h3,
h4,
h5 {
  color: #333;
  font-family: "Brandon Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
header a,
header a:hover {
  color: #4d4d4d;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: #333;
  text-decoration: none;
}
h3 {
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
}
header h2,
footer h2 {
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: 0.5rem;
}
header h1 {
  font-size: 4.7rem;
  letter-spacing: 0.8rem;
}
header h1 a,
header h1 a:hover {
  border-bottom: 0px dotted #999;
}
.index-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  header h1 {
    font-size: 3.5rem !important;
  }
}
.photo {
  text-align: center;
}
.photo img {
  width: 100px;
  overflow: hidden;
  margin: 0 auto 2em auto;
}
.img-rounded {
  border-radius: 0.6rem;
}
.description {
  padding: 0 3rem;
}
@media (max-width: 768px) {
  .description {
    padding: 0;
  }
}
.skills_icons {
  font-size: 2.4rem;
}
.skills_icons i:not(:last-child) {
  margin-right: 1rem;
}
.links p {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-family: calluna;
}
.links p img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  height: 2.5rem;
}
.links p a {
  color: #4d4d4d;
}
.about h2 {
  margin: 0 0 2rem !important;
  font-size: 2rem;
  text-align: center;
}
.projects h2 {
  padding: 8px 0 32px 0;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.6rem;
}
.projects a {
  color: #4d4d4d;
}
.container h2 {
  margin: 2rem auto;
}
.current {
  margin: 0 auto;
}
.heading {
  font-size: 1.9rem;
  line-height: 2.8rem;
  font-family: "calluna", serif;
  margin-bottom: 4.8rem;
}
.project {
  text-align: center;
}
.project h3 {
  line-height: 2.8rem;
}
.project p {
  font-style: oblique;
  line-height: 2.6rem;
  font-family: calluna, serif;
  font-size: 1.4rem;
}
.project p a {
  border: none;
}
.container-fluid hr {
  border: none;
  margin: 3rem 0 5rem 0;
  font-size: 1.9rem;
  text-align: center;
}
.container-fluid hr:after {
  content: '§';
}
.photo2 {
  width: 100%;
  max-width: 10rem;
  margin: 0 auto 22px auto;
}
.img-container {
  text-align: center;
}
.img-container a {
  border: 0;
}
.entry {
  padding: 8rem 0;
  text-align: center;
}
.entry .browser .bar {
  z-index: 1000;
  height: 30px;
  padding-left: 10px;
  background: #262324;
  background-color: rgba(45,45,45,0.7);
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.entry .browser .bar .circle {
  width: 8px;
  height: 8px;
  margin: 11px 3px;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.entry.lightgrey {
  color: #333;
  background: #e6e6e6;
}
.entry.lightgrey h3 {
  color: #333;
}
.entry.lightgrey h3 a {
  color: #333;
  border: none;
}
.entry.lightgrey .browser .bar .circle {
  background: #e6e6e6;
}
.entry .metadata {
  text-align: right;
  margin-bottom: 4rem;
}
.entry .metadata h3 {
  font-size: 18px;
  letter-spacing: 2px;
}
.entry .metadata h5 {
  margin-top: 4rem;
}
.entry .metadata hr {
  width: 100%;
  height: 0;
  border: 1px solid #333;
  float: right;
  margin: 0 0 20px;
}
.entry .metadata hr:after {
  content: "";
}
.entry .metadata p {
  font-size: 11px;
  line-height: 20px;
  font-family: 'Courier New', Courier, mono;
}
@media (max-width: 767px) {
  .entry .metadata {
    text-align: center;
  }
  .entry hr {
    display: none;
  }
}
@media (min-width: 768px) {
  .entry hr {
    display: block;
  }
}
.wide {
  max-width: none;
}
.terminal {
  background: #f7f7f7;
}
.terminal h2 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2rem;
  min-height: 4rem;
  transition: all 0.7s ease-in-out;
}
.terminal .terminal-box {
  background: #f7f7f7;
}
.terminal .bar {
  background: #191919;
  height: 4rem;
  border-radius: 1rem 1rem 0 0;
  padding-left: 1rem;
}
.terminal a {
  border-bottom: none;
}
.terminal .circle {
  width: 12px;
  height: 12px;
  margin: 15px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}
.terminal .yellow {
  background: #ff0;
}
.terminal .red {
  background: #f00;
}
.terminal .green {
  background: #008000;
}
.terminal .code {
  background: #383737;
  padding: 2rem 1rem;
  color: #fff;
  min-height: 10rem;
  border-radius: 0 0 1rem 1rem;
}
.terminal .code a {
  color: #398fa8;
  border-bottom: 1px dotted #398fa8;
}
.terminal .code p {
  margin-bottom: 0;
  text-align: left
}
.terminal .code .question p {
  color: #fff;
}
.terminal .code .question p .terminal-question {
  font-weight: bold;
}
.terminal .code .answer p {
  color: #cecaca;
  font-size: 1.8rem;
}
.terminal-item {
  margin-bottom: 2rem;
}
.typed-cursor {
  font-weight: 100;
  padding: 0 2px;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite;
}
.terminal h2{
  text-transform: initial
}
.code a:hover {
    background: #378096;
    color: white;
}
