@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/glyphicons/glyphicons-halflings-regular.woff") format('woff'), url("../fonts/glyphicons/glyphicons-halflings-regular.ttf") format('truetype'), url("../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "*";
}
.glyphicon-plus:before {
  content: "+";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "â‚¬";
}
.glyphicon-minus:before {
  content: "âˆ’";
}
.glyphicon-cloud:before {
  content: "â˜";
}
.glyphicon-envelope:before {
  content: "âœ‰";
}
.glyphicon-pencil:before {
  content: "âœ";
}
.glyphicon-glass:before {
  content: "î€";
}
.glyphicon-music:before {
  content: "î€‚";
}
.glyphicon-search:before {
  content: "î€ƒ";
}
.glyphicon-heart:before {
  content: "î€…";
}
.glyphicon-star:before {
  content: "î€†";
}
.glyphicon-star-empty:before {
  content: "î€‡";
}
.glyphicon-user:before {
  content: "î€ˆ";
}
.glyphicon-film:before {
  content: "î€‰";
}
.glyphicon-th-large:before {
  content: "î€";
}
.glyphicon-th:before {
  content: "î€‘";
}
.glyphicon-th-list:before {
  content: "î€’";
}
.glyphicon-ok:before {
  content: "î€“";
}
.glyphicon-remove:before {
  content: "î€”";
}
.glyphicon-zoom-in:before {
  content: "î€•";
}
.glyphicon-zoom-out:before {
  content: "î€–";
}
.glyphicon-off:before {
  content: "î€—";
}
.glyphicon-signal:before {
  content: "î€˜";
}
.glyphicon-cog:before {
  content: "î€™";
}
.glyphicon-trash:before {
  content: "î€ ";
}
.glyphicon-home:before {
  content: "î€¡";
}
.glyphicon-file:before {
  content: "î€¢";
}
.glyphicon-time:before {
  content: "î€£";
}
.glyphicon-road:before {
  content: "î€¤";
}
.glyphicon-download-alt:before {
  content: "î€¥";
}
.glyphicon-download:before {
  content: "î€¦";
}
.glyphicon-upload:before {
  content: "î€§";
}
.glyphicon-inbox:before {
  content: "î€¨";
}
.glyphicon-play-circle:before {
  content: "î€©";
}
.glyphicon-repeat:before {
  content: "î€°";
}
.glyphicon-refresh:before {
  content: "î€±";
}
.glyphicon-list-alt:before {
  content: "î€²";
}
.glyphicon-lock:before {
  content: "î€³";
}
.glyphicon-flag:before {
  content: "î€´";
}
.glyphicon-headphones:before {
  content: "î€µ";
}
.glyphicon-volume-off:before {
  content: "î€¶";
}
.glyphicon-volume-down:before {
  content: "î€·";
}
.glyphicon-volume-up:before {
  content: "î€¸";
}
.glyphicon-qrcode:before {
  content: "î€¹";
}
.glyphicon-barcode:before {
  content: "î€";
}
.glyphicon-tag:before {
  content: "î";
}
.glyphicon-tags:before {
  content: "î‚";
}
.glyphicon-book:before {
  content: "îƒ";
}
.glyphicon-bookmark:before {
  content: "î„";
}
.glyphicon-print:before {
  content: "î…";
}
.glyphicon-camera:before {
  content: "î†";
}
.glyphicon-font:before {
  content: "î‡";
}
.glyphicon-bold:before {
  content: "îˆ";
}
.glyphicon-italic:before {
  content: "î‰";
}
.glyphicon-text-height:before {
  content: "î";
}
.glyphicon-text-width:before {
  content: "î‘";
}
.glyphicon-align-left:before {
  content: "î’";
}
.glyphicon-align-center:before {
  content: "î“";
}
.glyphicon-align-right:before {
  content: "î”";
}
.glyphicon-align-justify:before {
  content: "î•";
}
.glyphicon-list:before {
  content: "î–";
}
.glyphicon-indent-left:before {
  content: "î—";
}
.glyphicon-indent-right:before {
  content: "î˜";
}
.glyphicon-facetime-video:before {
  content: "î™";
}
.glyphicon-picture:before {
  content: "î ";
}
.glyphicon-map-marker:before {
  content: "î¢";
}
.glyphicon-adjust:before {
  content: "î£";
}
.glyphicon-tint:before {
  content: "î¤";
}
.glyphicon-edit:before {
  content: "î¥";
}
.glyphicon-share:before {
  content: "î¦";
}
.glyphicon-check:before {
  content: "î§";
}
.glyphicon-move:before {
  content: "î¨";
}
.glyphicon-step-backward:before {
  content: "î©";
}
.glyphicon-fast-backward:before {
  content: "î°";
}
.glyphicon-backward:before {
  content: "î±";
}
.glyphicon-play:before {
  content: "î²";
}
.glyphicon-pause:before {
  content: "î³";
}
.glyphicon-stop:before {
  content: "î´";
}
.glyphicon-forward:before {
  content: "îµ";
}
.glyphicon-fast-forward:before {
  content: "î¶";
}
.glyphicon-step-forward:before {
  content: "î·";
}
.glyphicon-eject:before {
  content: "î¸";
}
.glyphicon-chevron-left:before {
  content: "î¹";
}
.glyphicon-chevron-right:before {
  content: "î‚€";
}
.glyphicon-plus-sign:before {
  content: "î‚";
}
.glyphicon-minus-sign:before {
  content: "î‚‚";
}
.glyphicon-remove-sign:before {
  content: "î‚ƒ";
}
.glyphicon-ok-sign:before {
  content: "î‚„";
}
.glyphicon-question-sign:before {
  content: "î‚…";
}
.glyphicon-info-sign:before {
  content: "î‚†";
}
.glyphicon-screenshot:before {
  content: "î‚‡";
}
.glyphicon-remove-circle:before {
  content: "î‚ˆ";
}
.glyphicon-ok-circle:before {
  content: "î‚‰";
}
.glyphicon-ban-circle:before {
  content: "î‚";
}
.glyphicon-arrow-left:before {
  content: "î‚‘";
}
.glyphicon-arrow-right:before {
  content: "î‚’";
}
.glyphicon-arrow-up:before {
  content: "î‚“";
}
.glyphicon-arrow-down:before {
  content: "î‚”";
}
.glyphicon-share-alt:before {
  content: "î‚•";
}
.glyphicon-resize-full:before {
  content: "î‚–";
}
.glyphicon-resize-small:before {
  content: "î‚—";
}
.glyphicon-exclamation-sign:before {
  content: "î„";
}
.glyphicon-gift:before {
  content: "î„‚";
}
.glyphicon-leaf:before {
  content: "î„ƒ";
}
.glyphicon-fire:before {
  content: "î„„";
}
.glyphicon-eye-open:before {
  content: "î„…";
}
.glyphicon-eye-close:before {
  content: "î„†";
}
.glyphicon-warning-sign:before {
  content: "î„‡";
}
.glyphicon-plane:before {
  content: "î„ˆ";
}
.glyphicon-calendar:before {
  content: "î„‰";
}
.glyphicon-random:before {
  content: "î„";
}
.glyphicon-comment:before {
  content: "î„‘";
}
.glyphicon-magnet:before {
  content: "î„’";
}
.glyphicon-chevron-up:before {
  content: "î„“";
}
.glyphicon-chevron-down:before {
  content: "î„”";
}
.glyphicon-retweet:before {
  content: "î„•";
}
.glyphicon-shopping-cart:before {
  content: "î„–";
}
.glyphicon-folder-close:before {
  content: "î„—";
}
.glyphicon-folder-open:before {
  content: "î„˜";
}
.glyphicon-resize-vertical:before {
  content: "î„™";
}
.glyphicon-resize-horizontal:before {
  content: "î„ ";
}
.glyphicon-hdd:before {
  content: "î„¡";
}
.glyphicon-bullhorn:before {
  content: "î„¢";
}
.glyphicon-bell:before {
  content: "î„£";
}
.glyphicon-certificate:before {
  content: "î„¤";
}
.glyphicon-thumbs-up:before {
  content: "î„¥";
}
.glyphicon-thumbs-down:before {
  content: "î„¦";
}
.glyphicon-hand-right:before {
  content: "î„§";
}
.glyphicon-hand-left:before {
  content: "î„¨";
}
.glyphicon-hand-up:before {
  content: "î„©";
}
.glyphicon-hand-down:before {
  content: "î„°";
}
.glyphicon-circle-arrow-right:before {
  content: "î„±";
}
.glyphicon-circle-arrow-left:before {
  content: "î„²";
}
.glyphicon-circle-arrow-up:before {
  content: "î„³";
}
.glyphicon-circle-arrow-down:before {
  content: "î„´";
}
.glyphicon-globe:before {
  content: "î„µ";
}
.glyphicon-wrench:before {
  content: "î„¶";
}
.glyphicon-tasks:before {
  content: "î„·";
}
.glyphicon-filter:before {
  content: "î„¸";
}
.glyphicon-briefcase:before {
  content: "î„¹";
}
.glyphicon-fullscreen:before {
  content: "î…€";
}
.glyphicon-dashboard:before {
  content: "î…";
}
.glyphicon-paperclip:before {
  content: "î…‚";
}
.glyphicon-heart-empty:before {
  content: "î…ƒ";
}
.glyphicon-link:before {
  content: "î…„";
}
.glyphicon-phone:before {
  content: "î……";
}
.glyphicon-pushpin:before {
  content: "î…†";
}
.glyphicon-usd:before {
  content: "î…ˆ";
}
.glyphicon-gbp:before {
  content: "î…‰";
}
.glyphicon-sort:before {
  content: "î…";
}
.glyphicon-sort-by-alphabet:before {
  content: "î…‘";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "î…’";
}
.glyphicon-sort-by-order:before {
  content: "î…“";
}
.glyphicon-sort-by-order-alt:before {
  content: "î…”";
}
.glyphicon-sort-by-attributes:before {
  content: "î…•";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "î…–";
}
.glyphicon-unchecked:before {
  content: "î…—";
}
.glyphicon-expand:before {
  content: "î…˜";
}
.glyphicon-collapse-down:before {
  content: "î…™";
}
.glyphicon-collapse-up:before {
  content: "î… ";
}
.glyphicon-log-in:before {
  content: "î…¡";
}
.glyphicon-flash:before {
  content: "î…¢";
}
.glyphicon-log-out:before {
  content: "î…£";
}
.glyphicon-new-window:before {
  content: "î…¤";
}
.glyphicon-record:before {
  content: "î…¥";
}
.glyphicon-save:before {
  content: "î…¦";
}
.glyphicon-open:before {
  content: "î…§";
}
.glyphicon-saved:before {
  content: "î…¨";
}
.glyphicon-import:before {
  content: "î…©";
}
.glyphicon-export:before {
  content: "î…°";
}
.glyphicon-send:before {
  content: "î…±";
}
.glyphicon-floppy-disk:before {
  content: "î…²";
}
.glyphicon-floppy-saved:before {
  content: "î…³";
}
.glyphicon-floppy-remove:before {
  content: "î…´";
}
.glyphicon-floppy-save:before {
  content: "î…µ";
}
.glyphicon-floppy-open:before {
  content: "î…¶";
}
.glyphicon-credit-card:before {
  content: "î…·";
}
.glyphicon-transfer:before {
  content: "î…¸";
}
.glyphicon-cutlery:before {
  content: "î…¹";
}
.glyphicon-header:before {
  content: "î†€";
}
.glyphicon-compressed:before {
  content: "î†";
}
.glyphicon-earphone:before {
  content: "î†‚";
}
.glyphicon-phone-alt:before {
  content: "î†ƒ";
}
.glyphicon-tower:before {
  content: "î†„";
}
.glyphicon-stats:before {
  content: "î†…";
}
.glyphicon-sd-video:before {
  content: "î††";
}
.glyphicon-hd-video:before {
  content: "î†‡";
}
.glyphicon-subtitles:before {
  content: "î†ˆ";
}
.glyphicon-sound-stereo:before {
  content: "î†‰";
}
.glyphicon-sound-dolby:before {
  content: "î†";
}
.glyphicon-sound-5-1:before {
  content: "î†‘";
}
.glyphicon-sound-6-1:before {
  content: "î†’";
}
.glyphicon-sound-7-1:before {
  content: "î†“";
}
.glyphicon-copyright-mark:before {
  content: "î†”";
}
.glyphicon-registration-mark:before {
  content: "î†•";
}
.glyphicon-cloud-download:before {
  content: "î†—";
}
.glyphicon-cloud-upload:before {
  content: "î†˜";
}
.glyphicon-tree-conifer:before {
  content: "î†™";
}
.glyphicon-tree-deciduous:before {
  content: "îˆ€";
}
