.photo
  text-align center

.photo img
   width 100px
   overflow hidden
   margin 0 auto 2em auto
   
.img-rounded
  border-radius .6rem

.description
  padding 0 3rem

@media(max-width:768px){
  .description{
    padding: 0;
  }
}

.skills_icons
  font-size 2.4rem

.skills_icons i:not(:last-child)
  margin-right 1rem            

.links p
  margin-top 2rem
  font-size 1.6rem
  font-family calluna

  img
    display block
    margin 0 auto
    margin-bottom 2rem
    height 2.5rem
  a
    color #4d4d4d

.about h2
  margin 0 0 2rem!important
  font-size 2rem
  text-align center
  
