header {
  text-align: center;
  padding: 4rem 1rem;
}
h1,
h2,
h3,
h4,
h5 {
  color: #333;
  font-family: "Brandon Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
header a,
header a:hover {
  color: #4d4d4d;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: #333;
  text-decoration: none;
}

h3
  font-size 1.5 rem
  letter-spacing .4rem

header h2
footer h2
{
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: 0.5rem;
}

header h1
  font-size 4.7rem
  letter-spacing .8rem

header h1 a
header h1 a:hover
  border-bottom: 0px dotted #999;

.index-main 
   display flex
   align-items center
   justify-content center

@media (max-width: 768px){
  header h1{
    font-size: 3.5rem !important
  }
}