.entry
  padding 8rem 0
  text-align center
.entry .browser .bar
  z-index: 1000;
  height: 30px;
  padding-left: 10px;
  background: #262324;
  background-color: rgba(45,45,45,0.7);
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .circle
    width: 8px;
    height: 8px;
    margin: 11px 3px;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
.entry.lightgrey
  color #333
  background #e6e6e6
  h3
    color #333
    a
      color: #333;
      border: none;
  .browser .bar .circle
    background #e6e6e6
.entry .metadata
  text-align right
  margin-bottom 4rem
  h3
    font-size: 18px;
    letter-spacing: 2px;
  h5
    margin-top 4rem
  hr
    width: 100%;
    height: 0;
    border: 1px solid #333;
    float: right;
    margin: 0 0 20px;        
    &:after
      content ""
  p
    font-size: 11px;
    line-height: 20px;
    font-family: 'Courier New',Courier,mono;

@media (max-width: 767px)
    .entry .metadata
       text-align center
    .entry hr
       display none
@media (min-width: 768px)
    .entry hr
       display block
.wide
  max-width none
