.projects h2
    padding: 8px 0 32px 0;
    font-size: 16px;
    text-align: center;
    letter-spacing: .6rem;
.projects a
    color #4d4d4d
.container h2
    margin 2rem auto
.current
    margin 0 auto
.heading
    font-size: 1.9rem
    line-height: 2.8rem
    font-family: "calluna",serif
    margin-bottom: 4.8rem
.project
    text-align center
.project h3
    line-height 2.8rem
.project p
    font-style oblique
    line-height 2.6rem
    font-family calluna,serif
    font-size 1.4rem
    a
      border none

.container-fluid hr
     border none
     margin 3rem 0 5rem 0
     font-size 1.9rem
     text-align center
     &:after
      content'§'
.photo2
  width 100%
  max-width 10rem
  margin 0 auto 22px auto

.img-container
  text-align center
  a
    border 0