.terminal
  background #f7f7f7

  h2
    text-align center
    margin-bottom 4rem
    font-size 2rem
    min-height 4rem
    transition: all .7s ease-in-out

  .terminal-box
     background #f7f7f7

  .bar
     background #191919
     height 4rem
     border-radius 1rem 1rem 0 0
     padding-left 1rem
  a
     border-bottom none
  .circle
      width: 12px;
      height: 12px;
      margin: 15px 4px 0 0;
      display: inline-block;
      border-radius: 8px;
     .yellow
       background yellow
     .red
       background red
     .green
       background green
  .code
    background #383737
    padding 2rem 1rem
    color #fff
    min-height 10rem
    border-radius 0 0 1rem 1rem
    a
      color #398fa8
      border-bottom 1px dotted #398fa8
    p
     margin-bottom 0
    .question p
      color #fff
      .terminal-question
        font-weight bold
    .answer p
      color #cecaca
      font-size 1.8rem
      
.terminal-item
  margin-bottom 2rem

.typed-cursor {
    font-weight: 100;
    padding: 0 2px;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    -ms-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    animation: blink 1s infinite
}
